<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.mylibrary" >

    <uses-permission android:name="android.permission.INTERNET"/>

    <application>
        <activity android:name=".MyLibrarySampleActivity" >
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="myscheme"
                    android:host="myhost"
                    android:path="/mypath"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
